<ion-view view-title="Events">
  <ion-nav-buttons side="secondary">
    <button class="button icon ion-ios-search"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader">
    <div class="button-bar">
      <a class="button">Show All</a>
      <a class="button">Music</a>
      <a class="button">Poetry</a>
      <a class="button">Comedy</a>
    </div>
  </div>
  <ion-content class="has-subheader">

    <div class="list">
      <a class="item item-avatar" href="#">
        <time datetime="2014-09-20" class="icon">
          <strong>SEPT</strong>
          <span>20</span>
        </time>
        <h2>Daniel's Coffee</h2>
        <p>220 Stevens Blvd, Cupertino</p>
        <a class="button button-icon star-btn icon ion-ios-star-outline"></a>
      </a>
    </div>

  </ion-content>
</ion-view>
