<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Events Tab -->
  <ion-tab title="Events" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>

  <!-- Starred Tab -->
  <ion-tab title="Starred" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/starred">
    <ion-nav-view name="tab-starred"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
